@charset "UTF-8";
.header {
  width: 1519px;
  height: 213px;
  background: #fff;
  display: flex;
  justify-content: row;
  flex-direction: column;
  align-items: none;
}

.header_top {
  width: 100%;
  height: 39px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-top: 1px solid #ccc;
}

.header_t_main {
  width: 1090px;
  height: 39px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
}
.header_t_main .header_t_m_l {
  width: 245px;
  height: 37px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
  color: #333;
  font-size: 13px;
}
.header_t_main .header_t_m-r {
  width: 563px;
  height: 37px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.header_t_main .header_t_m-r li {
  border-right: 1px solid #ccc;
  padding: 0 10px;
  color: #333;
  font-size: 13px;
}
.header_t_main .header_t_m-r .li4 .hezi1 {
  width: 15px;
  height: 15px;
  background: none;
  display: inline-block;
  background: url(../img/icon_list.png) no-repeat 0 -37px;
}
.header_t_main .header_t_m-r .li6 {
  width: 90px;
  height: 36px;
  line-height: 36px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
.header_t_main .header_t_m-r .help {
  position: absolute;
  top: 35px;
  right: 0px;
  border: 1px solid #ccc;
  border-top: none;
  width: 90px;
  height: 51px;
  background-color: #fff;
  display: none;
}
.header_t_main .header_t_m-r .help a {
  height: 25px;
  line-height: 25px;
  color: #333;
  font-size: 13px;
  padding: 0 10px;
}
.header_t_main .header_t_m-r .help a:hover {
  color: #df0010;
  text-decoration: underline;
}
.header_t_main .header_t_m-r .li6 .hezi2 {
  width: 12px;
  height: 12px;
  background: none;
  display: inline-block;
  background: url(../img/icon_list.png) no-repeat -155px -690px;
}
.header_t_main .header_t_m-r .li:hover {
  cursor: pointer;
  color: #df0010;
  text-decoration: underline;
}
.header_t_main .header_t_m-r .li_wei {
  width: 232px;
  height: 238px;
  position: absolute;
  left: 300px;
  top: 37px;
  z-index: 55;
  display: none;
}
.header_t_main .header_t_m-r .li_zhong {
  width: 232px;
  height: 232px;
  box-shadow: 0 0 1px #f6f6f6;
  padding: 5px;
  margin-top: 5px;
}
.header_t_main .header_t_m-r .li_zhong img {
  border: 1px solid #f6f6f6;
}
.header_t_main .header_t_m-r .icon_top {
  position: absolute;
  top: -2px;
  width: 12px;
  height: 8px;
  background: url(../img/icon_list.png) no-repeat -234px -592px;
  left: 50%;
  margin-left: -6px;
}

.header_center {
  width: 100%;
  height: 83px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 19px;
}

.header_c_main {
  width: 1090px;
  height: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
}
.header_c_main .logo {
  width: 360px;
  height: 75px;
  background: none;
}
.header_c_main .logo a {
  display: block;
  width: 170px;
  height: 75px;
  background: none;
}
.header_c_main .logo a img {
  width: 146px;
  height: 75px;
  background: none;
}
.header_c_main .search {
  width: 509px;
  height: 83px;
  background: none;
}
.header_c_main .search .search_input {
  width: 494px;
  height: 35px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: none;
  align-items: none;
  border: 2px solid #f31425;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
}
.header_c_main .search .search_input .icon-fangdajing {
  width: 30px;
  height: 30px;
  background: none;
  line-height: 30px;
  text-align: center;
}
.header_c_main .search .search_input input {
  width: 350px;
  height: 100%;
  background: none;
  border: none;
  color: #666666;
  font-size: 13px;
}
.header_c_main .search .search_input .sousuo {
  width: 75px;
  height: 31px;
  background: none;
  background: -webkit-linear-gradient(0deg, #f44814 0%, #f11323 100%);
  line-height: 31px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.header_c_main .search .search_list {
  width: 360px;
  height: 25px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
  padding-left: 14px;
}
.header_c_main .search .search_list li {
  color: #666666;
}
.header_c_main .search .search_list .lired {
  color: #f00;
}
.header_c_main .shop_car {
  width: 125px;
  height: 43px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border: 2px solid #F31425;
  border-radius: 39px;
}
.header_c_main .shop_car a {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header_c_main .shop_car .icon-icon4 {
  margin-right: 5px;
  color: #666;
  font-weight: bold;
}
.header_c_main .shop_car span {
  color: #222;
  font-size: 15px;
  text-align: center;
}
.header_c_main .shop_car a:hover,
.header_c_main .shop_car span:hover {
  color: #DF0010;
}

.header_footer {
  width: 100%;
  height: 42px;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-bottom: 2px solid #df0010;
}
.header_footer .header_f_main {
  width: 1090px;
  height: 100%;
  background: 0;
  display: flex;
  justify-content: none;
  flex-direction: none;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
}
.header_footer .header_f_main .a1 {
  width: 170px;
  height: 100%;
  background: none;
  background: -webkit-linear-gradient(0deg, #f44814 0%, #f11323 100%);
}
.header_footer .header_f_main .a1 a {
  color: #fff;
}
.header_footer .header_f_main .a1 span {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.header_footer .header_f_main .a2 {
  width: 114px;
  height: 100%;
  background: none;
  font-weight: bold;
}
.header_footer .header_f_main .a2 a {
  color: #df0010;
}
.header_footer .header_f_main .a3 {
  width: 154px;
  height: 100%;
  background: none;
}
.header_footer .header_f_main .a3 a {
  color: #333;
}
.header_footer .header_f_main .a3 a:hover {
  color: #df0010;
}
.header_footer .header_f_main .a4 {
  width: 124px;
  height: 100%;
  background: none;
}
.header_footer .header_f_main .a4 a {
  color: #333;
}
.header_footer .header_f_main .a4 a:hover {
  color: #df0010;
}

.header_f_main {
  width: 1090px;
  height: 40px;
  background: paleturquoise;
}

.end {
  width: 1090px;
  height: 40px;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.end h2 {
  width: 60px;
  height: 100%;
  background: #f5f5f5;
  line-height: 40px;
  text-align: center;
  color: #cacace;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 525px;
  z-index: 2;
}
.end .line {
  width: 320px;
  height: 1px;
  background: #cacace;
}

.footer {
  width: 1519px;
  height: none;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.footer_top {
  width: 1377px;
  height: 186px;
  background: none;
  display: flex;
  justify-content: row;
  flex-direction: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}

.xian {
  width: 1099px;
  height: 1px;
  background: #ccc;
}

.footer_middle {
  width: 1090px;
  height: 193px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
}
.footer_middle .biao {
  width: 100%;
  height: 152px;
  background: #fff;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.footer_middle .biao .left {
  width: none;
  height: 152px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}
.footer_middle .biao .left li {
  width: none;
  height: 117px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  padding: 0 34px 0 36px;
}
.footer_middle .biao .left li p {
  color: #333;
  font-size: 17px;
  font-weight: normal;
  height: 31px;
}
.footer_middle .biao .left li span {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}
.footer_middle .right {
  width: 240px;
  height: 117px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  position: absolute;
  top: 20px;
  right: 40px;
}
.footer_middle .right li {
  width: 100px;
  height: 117px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  margin-right: 20px;
}
.footer_middle .right li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
  text-align: center;
  margin-bottom: 10px;
}
.footer_middle .right li p {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
  text-align: center;
}

.foot_wai {
  width: 100%;
  height: none;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer_bottom {
  width: 100%;
  height: 283px;
  background: #262626;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #F31425;
}

.bottom_list {
  width: 720px;
  height: 52px;
  background: none;
  display: flex;
  justify-content: row;
  flex-direction: center;
  align-items: center;
  margin-top: 26px;
  margin-left: 260px;
}
.bottom_list li {
  width: none;
  height: none;
  background: none;
  display: flex;
  justify-content: row;
  flex-direction: center;
  align-items: center;
  border-right: 1px solid #fff;
  padding: 0 15px 0 15px;
  color: #fff;
}
.bottom_list .lastli {
  border: none;
}

.p {
  color: #c8c8c8;
  padding-top: 10px;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
}
.p p {
  padding-top: 10px;
}
.p .p3 {
  padding-bottom: 40px;
}

.pic {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}

#menu {
  width: none;
  height: 400px;
  background: none;
  position: absolute;
  top: 213px;
  left: 214px;
  display: none;
}
#menu ul {
  width: 171px;
  height: 400px;
  background: none;
  background: -webkit-linear-gradient(0deg, rgba(244, 72, 20, 0.9) 0%, rgba(241, 19, 35, 0.9) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#menu ul li {
  width: 171px;
  height: 46px;
  background: none;
  line-height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
#menu ul li span {
  width: 16px;
  height: 16px;
  background: none;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
#menu ul li .li_span {
  margin-left: -14px;
}
#menu ul li a {
  width: 146px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#menu ul .active {
  background: #fff;
}
#menu ul .active span,
#menu ul .active a {
  color: #ce4261;
}

.two_hz {
  width: 920px;
  height: 400px;
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 171px;
  z-index: 2;
}

.item {
  width: 685px;
  height: 100%;
  background: #666;
  font-size: 25px;
}

.item_nav {
  width: 236px;
  height: 400px;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.item_nav_r {
  width: 218px;
  height: 353px;
  background: #fff;
}
.item_nav_r li {
  width: 109px;
  height: 118px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-bottom: 1px solid #FAFAFA;
  border-right: 1px solid #FAFAFA;
  float: left;
}
.item_nav_r li img {
  width: 78px;
}
.item_nav_r .hua1 {
  border-right: none;
}
.item_nav_r .hua2 {
  border-bottom: none;
}

.wrap {
  float: left;
  margin-left: 117px;
  position: relative;
}

#spic {
  width: 380px;
  height: 380px;
  border: 1px solid #e5e5e5;
  float: left;
  position: relative;
}

#spic img {
  width: 380px;
  height: 380px;
}

#sf {
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  cursor: crosshair;
}

#bf {
  width: 380px;
  height: 380px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  position: absolute;
  left: 390px;
  visibility: hidden;
  z-index: 100;
  background: #fff;
}

#bf img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 800px;
}

#ulist {
  position: absolute;
  left: 0px;
  top: 430px;
  width: 402px;
  height: 56px;
  overflow: hidden;
}

#ulist a {
  width: 14px;
  height: 25px;
  line-height: 56px;
  text-align: center;
  background: #fff;
}

#list {
  float: left;
  margin-left: 18px;
  width: 372px;
  position: relative;
}

#list ul li {
  margin-right: 10px;
  position: relative;
}

#list ul li:hover:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0px;
  border: 2px solid #c41f3a;
}

.wrap ul {
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}

.wrap ul li {
  float: left;
  width: 56px;
  height: 56px;
  padding-right: 6px;
}

.wrap ul li img {
  width: 52px;
  height: 52px;
  border: 1px solid #ccc;
}

#right {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #ccc;
  font-size: 22px;
}

#left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  color: #fff;
}

.detail_nav {
  width: 1200px;
  height: 57px;
  margin-left: 117px;
  display: flex;
  align-items: center;
}
.detail_nav a {
  color: #333333;
  font-size: 14px;
}
.detail_nav span {
  color: #666666;
  font-size: 14px;
  padding: 0 8px;
}

.goodsinfo {
  margin: 0px 0 0 100px;
  height: 600px;
}

.goodsinfo-img {
  width: 200px;
  height: 200px;
  float: left;
}

.goodsinfo-img img {
  width: 200px;
  height: 200px;
}

.goodsinfo-word {
  overflow: hidden;
  float: left;
  display: flex;
  flex-direction: column;
}

.p-name {
  width: 520px;
  height: 50px;
  margin-left: 30px;
  margin-top: 20px;
  overflow: hidden;
}

.p-name .loadtitle {
  font: 16px "微软雅黑";
  color: #303030;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 10px;
  overflow: hidden;
}

.p-price {
  margin-left: 30px;
  margin-top: 10px;
  width: 520px;
  height: 70px;
  line-height: 70px;
  background: #fefafb;
  border-bottom: 1px dashed #f0dde1;
  line-height: 50px;
}
.p-price span {
  color: #666;
  float: left;
  font-size: 14px;
  min-width: 55px;
  width: 75px;
  padding-left: 10px;
  margin-top: 11px;
}
.p-price em {
  color: #c41f3a;
  font-size: 18px;
  visibility: middle;
}
.p-price .loadpcp {
  color: #DF0010;
  font-size: 42px;
  font-weight: normal;
  visibility: middle;
}

.yunfei {
  width: 520px;
  border-bottom: 1px dashed #f0dde1;
  margin-left: 30px;
  padding: 12px 0;
}
.yunfei .sp1 {
  color: #666;
  float: left;
  font-size: 14px;
  min-width: 55px;
  width: 75px;
  padding-left: 10px;
}
.yunfei .sp2 {
  color: #333333;
  font-size: 14px;
}

.color,
.chicun,
.shu {
  width: 520px;
  margin-left: 30px;
  line-height: 33px;
  padding: 10px 0 0 0;
}

.sp3 {
  color: #666;
  float: left;
  font-size: 14px;
  min-width: 55px;
  width: 75px;
  padding-left: 10px;
}

.sp4 {
  width: 58px;
  height: 32px;
  border: 2px solid #F11D20;
  padding: 7px 15px;
  margin: 15px 0;
  min-width: 24px;
  margin-bottom: 8px;
  position: relative;
}
.sp4 span {
  width: 12px;
  height: 13px;
  display: block;
  background: url(../img/detail_icon_list.png) no-repeat -87px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.shu .input {
  width: 128px;
  height: 34px;
  border: 1px solid #c8c8c8;
  display: flex;
}
.shu .input .jian {
  width: 34px;
  border-right: 1px solid #c8c8c8;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
  color: #999999;
}
.shu .input .text {
  width: 60px;
  border: none;
  text-align: center;
  line-height: 34px;
}
.shu .input .jia {
  width: 34px;
  border-left: 1px solid #c8c8c8;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
  color: #999999;
}

.p-btn {
  margin-top: 20px;
  display: flex;
}

.p-btn a {
  display: block;
  width: 140px;
  height: 40px;
  line-height: 36px;
  border: 2px solid #F11D20;
  font-size: 16px;
  text-align: center;
}

.btn_a1 {
  background: #F11D20;
  margin-left: 60px;
  color: white;
}

.btn_a2 {
  margin-left: 15px;
  color: #F11D20;
}

.right_mao {
  width: 200px;
  height: 211px;
  position: absolute;
  right: -800px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.detail_ewm {
  width: 160px;
  height: 191px;
  background: url(../img/detail_icon_list.png) no-repeat 0 -433px;
}

.bg_ewm {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px 0 6px 20px;
}
.bg_ewm img {
  width: 120px;
  height: 120px;
}
.bg_ewm .b_ewm_icon {
  height: 69px;
  left: 12px;
  position: absolute;
  top: -64px;
  width: 105px;
  background: url(../img/detail_icon_list.png) no-repeat -173px -433px;
}

.fs_14,
.fs_16 {
  font-size: 13px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.3em;
}

/*# sourceMappingURL=detail.css.map */
