.header {
  width: 1519px;
  height: 213px;
  background: #fff;
  display: flex;
  justify-content: row;
  flex-direction: column;
  align-items: none;
}

.header_top {
  width: 100%;
  height: 39px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-top: 1px solid #ccc;
}

.header_t_main {
  width: 1090px;
  height: 39px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
}
.header_t_main .header_t_m_l {
  width: 245px;
  height: 37px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
  color: #333;
  font-size: 13px;
}
.header_t_main .header_t_m-r {
  width: 563px;
  height: 37px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.header_t_main .header_t_m-r li {
  border-right: 1px solid #ccc;
  padding: 0 10px;
  color: #333;
  font-size: 13px;
}
.header_t_main .header_t_m-r .li4 .hezi1 {
  width: 15px;
  height: 15px;
  background: none;
  display: inline-block;
  background: url(../img/icon_list.png) no-repeat 0 -37px;
}
.header_t_main .header_t_m-r .li6 {
  width: 90px;
  height: 36px;
  line-height: 36px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
.header_t_main .header_t_m-r .help {
  position: absolute;
  top: 35px;
  right: 0px;
  border: 1px solid #ccc;
  border-top: none;
  width: 90px;
  height: 51px;
  background-color: #fff;
  display: none;
}
.header_t_main .header_t_m-r .help a {
  height: 25px;
  line-height: 25px;
  color: #333;
  font-size: 13px;
  padding: 0 10px;
}
.header_t_main .header_t_m-r .help a:hover {
  color: #df0010;
  text-decoration: underline;
}
.header_t_main .header_t_m-r .li6 .hezi2 {
  width: 12px;
  height: 12px;
  background: none;
  display: inline-block;
  background: url(../img/icon_list.png) no-repeat -155px -690px;
}
.header_t_main .header_t_m-r .li:hover {
  cursor: pointer;
  color: #df0010;
  text-decoration: underline;
}
.header_t_main .header_t_m-r .li_wei {
  width: 232px;
  height: 238px;
  position: absolute;
  left: 300px;
  top: 37px;
  z-index: 55;
  display: none;
}
.header_t_main .header_t_m-r .li_zhong {
  width: 232px;
  height: 232px;
  box-shadow: 0 0 1px #f6f6f6;
  padding: 5px;
  margin-top: 5px;
}
.header_t_main .header_t_m-r .li_zhong img {
  border: 1px solid #f6f6f6;
}
.header_t_main .header_t_m-r .icon_top {
  position: absolute;
  top: -2px;
  width: 12px;
  height: 8px;
  background: url(../img/icon_list.png) no-repeat -234px -592px;
  left: 50%;
  margin-left: -6px;
}

.header_center {
  width: 100%;
  height: 83px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 19px;
}

.header_c_main {
  width: 1090px;
  height: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
}
.header_c_main .logo {
  width: 360px;
  height: 75px;
  background: none;
}
.header_c_main .logo a {
  display: block;
  width: 170px;
  height: 75px;
  background: none;
}
.header_c_main .logo a img {
  width: 146px;
  height: 75px;
  background: none;
}
.header_c_main .search {
  width: 509px;
  height: 83px;
  background: none;
}
.header_c_main .search .search_input {
  width: 494px;
  height: 35px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: none;
  align-items: none;
  border: 2px solid #f31425;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
}
.header_c_main .search .search_input .icon-fangdajing {
  width: 30px;
  height: 30px;
  background: none;
  line-height: 30px;
  text-align: center;
}
.header_c_main .search .search_input input {
  width: 350px;
  height: 100%;
  background: none;
  border: none;
  color: #666666;
  font-size: 13px;
}
.header_c_main .search .search_input .sousuo {
  width: 75px;
  height: 31px;
  background: none;
  background: -webkit-linear-gradient(0deg, #f44814 0%, #f11323 100%);
  line-height: 31px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.header_c_main .search .search_list {
  width: 360px;
  height: 25px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  align-items: center;
  padding-left: 14px;
}
.header_c_main .search .search_list li {
  color: #666666;
}
.header_c_main .search .search_list .lired {
  color: #f00;
}
.header_c_main .shop_car {
  width: 125px;
  height: 43px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border: 2px solid #F31425;
  border-radius: 39px;
}
.header_c_main .shop_car a {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header_c_main .shop_car .icon-icon4 {
  margin-right: 5px;
  color: #666;
  font-weight: bold;
}
.header_c_main .shop_car span {
  color: #222;
  font-size: 15px;
  text-align: center;
}
.header_c_main .shop_car a:hover,
.header_c_main .shop_car span:hover {
  color: #DF0010;
}

.header_footer {
  width: 100%;
  height: 42px;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-bottom: 2px solid #df0010;
}
.header_footer .header_f_main {
  width: 1090px;
  height: 100%;
  background: 0;
  display: flex;
  justify-content: none;
  flex-direction: none;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
}
.header_footer .header_f_main .a1 {
  width: 170px;
  height: 100%;
  background: none;
  background: -webkit-linear-gradient(0deg, #f44814 0%, #f11323 100%);
}
.header_footer .header_f_main .a1 a {
  color: #fff;
}
.header_footer .header_f_main .a1 span {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.header_footer .header_f_main .a2 {
  width: 114px;
  height: 100%;
  background: none;
  font-weight: bold;
}
.header_footer .header_f_main .a2 a {
  color: #df0010;
}
.header_footer .header_f_main .a3 {
  width: 154px;
  height: 100%;
  background: none;
}
.header_footer .header_f_main .a3 a {
  color: #333;
}
.header_footer .header_f_main .a3 a:hover {
  color: #df0010;
}
.header_footer .header_f_main .a4 {
  width: 124px;
  height: 100%;
  background: none;
}
.header_footer .header_f_main .a4 a {
  color: #333;
}
.header_footer .header_f_main .a4 a:hover {
  color: #df0010;
}

.header_f_main {
  width: 1090px;
  height: 40px;
  background: paleturquoise;
}

.main {
  width: 1090px;
  height: none;
  background: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mt40 {
  width: 1090px;
  height: 456px;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.TV_title {
  width: 100%;
  height: 41px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: none;
  align-items: center;
}
.TV_title span {
  padding-top: 5px;
  padding-left: 10px;
  color: #666;
  font-size: 14px;
}

.T_t {
  border-bottom: 2px solid #DF0010;
  margin-bottom: 15px;
}

.title_p {
  width: none;
  height: none;
  background: none;
  font-size: 22px;
  border-left: 3px solid #222;
  color: #222;
  font-weight: bold;
}
.title_p i {
  margin-right: 8px;
}

.TV_box {
  width: 1090px;
  height: 415px;
  background: #fff;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}

.TV_box_l {
  width: 220px;
  height: 415px;
  background: #fff;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  position: relative;
}
.TV_box_l h2 {
  padding: 0 14px;
  height: 22px;
  line-height: 22px;
  margin: 8px 0;
  color: #DF0010;
  font-size: 14px;
}
.TV_box_l h2 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: none;
}
.TV_box_l .web_pic {
  width: 192px;
  height: 192px;
  background: none;
  position: relative;
  margin-left: 14px;
}
.TV_box_l .web_pic img {
  width: 100%;
  height: 100%;
  background: none;
}
.TV_box_l .web_pic .time {
  width: 80px;
  height: 22px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 0px 6px 0px;
  text-align: center;
  line-height: 22px;
  color: #fff;
}
.TV_box_l p {
  margin-left: 14px;
  font-size: 14px;
}
.TV_box_l .t_p1 {
  margin-top: 10px;
}
.TV_box_l .t_p2 {
  margin-top: 5px;
}
.TV_box_l .price {
  width: 192px;
  height: 40px;
  background: none;
  position: relative;
  margin-left: 14px;
  line-height: 40px;
  color: #df0010;
  font-weight: bold;
}
.TV_box_l .price .span1 {
  font-size: 22px;
}
.TV_box_l .price .span2 {
  color: #999;
  font-weight: normal;
}
.TV_box_l .price .span3 {
  width: 40px;
  height: 1px;
  background: #999;
  position: absolute;
  top: 24px;
  left: 66px;
}
.TV_box_l .li_go {
  width: 192px;
  height: 32px;
  background: none;
  background: -webkit-linear-gradient(0deg, #f73c29 0%, #df0010 100%);
  margin-left: 14px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.TV_box_l .iphone {
  width: 192px;
  height: 34px;
  background: #fff;
  margin-top: 10px;
  margin-left: 14px;
  border: 1px solid #DF0010;
  color: #DF0010;
  line-height: 34px;
  text-align: center;
}
.TV_box_l .iphone_wei {
  width: 192px;
  height: 192px;
  border: 1px solid #dcdcdc;
  border-top: none;
  position: absolute;
  top: 391px;
  z-index: 6;
  background: #fff;
  left: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.TV_box_l .iphone_wei p {
  font-size: 12px;
}

.TV_box_r {
  width: 870px;
  height: 415px;
  background: darkcyan;
  display: flex;
  justify-content: 0;
  flex-direction: 0;
  align-items: 0;
}

.TV_box_r_l {
  width: 650px;
  height: 415px;
  background: none;
}

.TV_box_r_r {
  width: 220px;
  height: 415px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: none;
  position: relative;
}
.TV_box_r_r h2 {
  width: 200px;
  height: 22px;
  background: #fff;
  margin-left: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #666;
  font-size: 14px;
}
.TV_box_r_r h2 span {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}
.TV_box_r_r .web_pic2 {
  width: 192px;
  height: 192px;
  background: none;
  margin-left: 14px;
  position: relative;
}
.TV_box_r_r .web_pic2 img {
  width: 100%;
  height: 100%;
  background: none;
}
.TV_box_r_r .time2 {
  width: 80px;
  height: 22px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 0px 6px 0px;
  text-align: center;
  line-height: 22px;
  color: #fff;
}
.TV_box_r_r p {
  margin-left: 14px;
  font-size: 14px;
}
.TV_box_r_r .t_p3 {
  margin-top: 10px;
}
.TV_box_r_r .t_p4 {
  margin-top: 5px;
}
.TV_box_r_r .price {
  width: 192px;
  height: 40px;
  background: none;
  position: relative;
  margin-left: 14px;
  line-height: 40px;
  color: #df0010;
  font-weight: bold;
}
.TV_box_r_r .price .span1 {
  font-size: 22px;
}
.TV_box_r_r .price .span2 {
  color: #999;
  font-weight: normal;
}
.TV_box_r_r .price .span3 {
  width: 40px;
  height: 1px;
  background: #999;
  position: absolute;
  top: 24px;
  left: 66px;
}
.TV_box_r_r .li_go {
  width: 192px;
  height: 32px;
  background: none;
  background: -webkit-linear-gradient(0deg, #f73c29 0%, #df0010 100%);
  margin-left: 14px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.TV_box_r_r .iphone1 {
  width: 192px;
  height: 34px;
  background: #fff;
  margin-top: 10px;
  margin-left: 14px;
  border: 1px solid #DF0010;
  color: #DF0010;
  line-height: 34px;
  text-align: center;
}
.TV_box_r_r .iphone_wei1 {
  width: 192px;
  height: 192px;
  border: 1px solid #dcdcdc;
  border-top: none;
  position: absolute;
  display: none;
  top: 402px;
  z-index: 6;
  background: #fff;
  left: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.TV_box_r_r .iphone_wei1 p {
  font-size: 12px;
}

.TV_list {
  width: 1090px;
  height: none;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.sh_list ul {
  width: 1090px;
  height: none;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-wrap: wrap;
}

.sh_list li {
  position: relative;
}

.sh_list li:hover:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0px;
  border: 3px solid #df0010;
}

.sh_list ul li {
  width: 262px;
  height: 360px;
  background: #fff;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  margin-bottom: 15px;
}
.sh_list ul li img {
  width: 262px;
  height: 262px;
  background: none;
}
.sh_list ul li p {
  width: 262px;
  margin-top: 9px;
  font-size: 14px;
  padding: 0 10px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sh_list ul li span {
  color: #df0010;
  font-size: 22px;
  padding: 0 10px;
}

.z_sail {
  width: 1090px;
  height: none;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: none;
}

.list_public {
  width: 1090px;
  height: 443px;
  background: none;
  margin-top: 26px;
}

.sail_list ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
}

.week {
  width: 844px;
  height: 46px;
  background: #f5f5f5;
  margin-bottom: 9px;
  margin-left: 108px;
}

.week_ul {
  width: 844px;
  height: 46px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
}

.week_li {
  width: 120px;
  height: 49px;
  background: none;
  position: relative;
}

.week_line {
  background-color: #ccc;
  height: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 25px;
  width: 1px;
  z-index: 1;
}

.week_he {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.week_he span {
  font-size: 14px;
}

.today {
  height: 49px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #df0010;
  border-bottom: 2px solid #f5f5f5;
}
.today span {
  color: #c4193f;
}

.end {
  width: 1090px;
  height: 40px;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.end h2 {
  width: 60px;
  height: 100%;
  background: #f5f5f5;
  line-height: 40px;
  text-align: center;
  color: #cacace;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 525px;
  z-index: 2;
}
.end .line {
  width: 320px;
  height: 1px;
  background: #cacace;
}

.footer {
  width: 1519px;
  height: none;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.footer_top {
  width: 1377px;
  height: 186px;
  background: none;
  display: flex;
  justify-content: row;
  flex-direction: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}

.xian {
  width: 1099px;
  height: 1px;
  background: #ccc;
}

.footer_middle {
  width: 1090px;
  height: 193px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
}
.footer_middle .biao {
  width: 100%;
  height: 152px;
  background: #fff;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.footer_middle .biao .left {
  width: none;
  height: 152px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}
.footer_middle .biao .left li {
  width: none;
  height: 117px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  padding: 0 34px 0 36px;
}
.footer_middle .biao .left li p {
  color: #333;
  font-size: 17px;
  font-weight: normal;
  height: 31px;
}
.footer_middle .biao .left li span {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}
.footer_middle .right {
  width: 240px;
  height: 117px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  position: absolute;
  top: 20px;
  right: 40px;
}
.footer_middle .right li {
  width: 100px;
  height: 117px;
  background: none;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  margin-right: 20px;
}
.footer_middle .right li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
  text-align: center;
  margin-bottom: 10px;
}
.footer_middle .right li p {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
  text-align: center;
}

.foot_wai {
  width: 100%;
  height: none;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer_bottom {
  width: 100%;
  height: 283px;
  background: #262626;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #F31425;
}

.bottom_list {
  width: 720px;
  height: 52px;
  background: none;
  display: flex;
  justify-content: row;
  flex-direction: center;
  align-items: center;
  margin-top: 26px;
  margin-left: 260px;
}
.bottom_list li {
  width: none;
  height: none;
  background: none;
  display: flex;
  justify-content: row;
  flex-direction: center;
  align-items: center;
  border-right: 1px solid #fff;
  padding: 0 15px 0 15px;
  color: #fff;
}
.bottom_list .lastli {
  border: none;
}

.p {
  color: #c8c8c8;
  padding-top: 10px;
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
}
.p p {
  padding-top: 10px;
}
.p .p3 {
  padding-bottom: 40px;
}

.pic {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}

#menu {
  width: none;
  height: 400px;
  background: none;
  position: absolute;
  top: 213px;
  left: 214px;
  display: none;
}
#menu ul {
  width: 171px;
  height: 400px;
  background: none;
  background: -webkit-linear-gradient(0deg, rgba(244, 72, 20, 0.9) 0%, rgba(241, 19, 35, 0.9) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#menu ul li {
  width: 171px;
  height: 46px;
  background: none;
  line-height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
#menu ul li span {
  width: 16px;
  height: 16px;
  background: none;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
#menu ul li .li_span {
  margin-left: -14px;
}
#menu ul li a {
  width: 146px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#menu ul .active {
  background: #fff;
}
#menu ul .active span,
#menu ul .active a {
  color: #ce4261;
}

.two_hz {
  width: 920px;
  height: 400px;
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 171px;
  z-index: 2;
}

.item {
  width: 685px;
  height: 100%;
  background: #666;
  font-size: 25px;
}

.item_nav {
  width: 236px;
  height: 400px;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.item_nav_r {
  width: 218px;
  height: 353px;
  background: #fff;
}
.item_nav_r li {
  width: 109px;
  height: 118px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-bottom: 1px solid #FAFAFA;
  border-right: 1px solid #FAFAFA;
  float: left;
}
.item_nav_r li img {
  width: 78px;
}
.item_nav_r .hua1 {
  border-right: none;
}
.item_nav_r .hua2 {
  border-bottom: none;
}

html,
body {
  background: #f5f5f5 !important;
}

.containter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index1.css.map */
