@charset "utf-8";
//宽高背景
@mixin size($w, $h, $bg) {
    width: $w;
    height: $h;
    background: $bg;
}

//弹性盒
@mixin display($display, $jc, $fd, $ai) {
    display: $display;
    justify-content: $jc;
    flex-direction: $fd;
    align-items: $ai;
}

//END
.end {
    @include size(1090px, 40px, none);
    @include display(flex, center, none, center);
    margin-top: 20px;
    position: relative;
    h2 {
        @include size(60px, 100%, #f5f5f5);
        line-height: 40px;
        text-align: center;
        color: #cacace;
        font-size: 15px;
        position: absolute;
        top: 0px;
        left: 525px;
        z-index: 2;
    }
    .line {
        @include size(320px, 1px, #cacace);
    }
}

.footer {
    @include size(1519px, none, none);
    @include display(flex, none, column, center);
    margin-top: 26px;
}

//底部上
.footer_top {
    @include size(1377px, 186px, none);
    @include display(flex, row, space-between, center);
    padding-top: 30px;
    padding-bottom: 40px;
    // border-bottom: 1px solid #ccc;
    position: relative;
}

.xian {
    width: 1099px;
    height: 1px;
    background: #ccc;
}

//底部中
.footer_middle {
    @include size(1090px, 193px, #fff);
    @include display(flex, space-between, row, center);
    margin-bottom: 45px;
    // 列表
    .biao {
        @include size(100%, 152px, #fff);
        @include display(flex, none, row, center);
        position: relative;
        .left {
            @include size(none, 152px, none);
            @include display(flex, none, row, center);
            li {
                @include size(none, 117px, none);
                @include display(flex, none, column, none);
                padding: 0 34px 0 36px;
                p {
                    color: #333;
                    font-size: 17px;
                    font-weight: normal;
                    height: 31px;
                }
                span {
                    color: #666;
                    font-size: 12px;
                    height: 22px;
                    line-height: 22px;
                }
            }
        }
    }
    //二维码
    .right {
        @include size(240px, 117px, none);
        @include display(flex, none, row, none);
        position: absolute;
        top: 20px;
        right: 40px;
        li {
            @include size(100px, 117px, none);
            @include display(flex, none, column, none);
            margin-right: 20px;
            h2 {
                color: #333333;
                font-size: 14px;
                font-weight: 600;
                height: 31px;
                text-align: center;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                color: #666666;
                margin-top: 5px;
                text-align: center;
            }
        }
    }
}

.foot_wai {
    @include size(100%, none, #fff);
    @include display(flex, center, column, center);
}

//底部下
.footer_bottom {
    @include size(100%, 283px, #262626);
    @include display(flex, none, column, center);
    border-top: 3px solid #F31425;
}

.bottom_list {
    @include size(720px, 52px, none);
    @include display(flex, row, center, center);
    margin-top: 26px;
    margin-left: 260px;
    li {
        @include size(none, none, none);
        @include display(flex, row, center, center);
        border-right: 1px solid #fff;
        padding: 0 15px 0 15px;
        color: #fff;
    }
    .lastli {
        border: none;
    }
}

.p {
    color: #c8c8c8;
    padding-top: 10px;
    @include display(flex, none, column, center);
    p {
        padding-top: 10px;
    }
    .p3 {
        padding-bottom: 40px;
    }
}

.pic {
    @include display(flex, none, row, center);
}