@charset "utf-8";
//宽高背景
@mixin size($w, $h, $bg) {
    width: $w;
    height: $h;
    background: $bg;
}

//弹性盒
@mixin display($display, $jc, $fd, $ai) {
    display: $display;
    justify-content: $jc;
    flex-direction: $fd;
    align-items: $ai;
}

//主体部分
.main {
    @include size(1090px, none, 0);
    @include display(flex, center, column, center);
    // position: relative;
}

//TV正在直播
.mt40 {
    @include size(1090px, 456px, none);
    @include display(flex, center, column, center);
    margin-top: 26px;
}

//标题
.TV_title {
    @include size(100%, 41px, none);
    @include display(flex, none, none, center);
    span {
        padding-top: 5px;
        padding-left: 10px;
        color: #666;
        font-size: 14px;
    }
}

.T_t {
    border-bottom: 2px solid #DF0010;
    margin-bottom: 15px;
}

.title_p {
    @include size(none, none, none);
    font-size: 22px;
    i {
        margin-right: 8px;
    }
    // line-height: 20px;
    border-left: 3px solid #222;
    color:#222;
    font-weight: bold;
}

//TV标题下面的部分
.TV_box {
    @include size(1090px, 415px, #fff);
    @include display(flex, none, row, center);
}

//TV标题下面左边
.TV_box_l {
    @include size(220px, 415px, #fff);
    @include display(flex, none, column, none);
    h2 {
        padding: 0 14px;
        height: 22px;
        line-height: 22px;
        margin: 8px 0;
        color: #DF0010;
        font-size: 14px;
        span {
            display: inline-block;
            @include size(20px, 20px, #DF0010)
        }
    }
    //网址图片部分
    .web_pic {
        @include size(192px, 192px, none);
        position: relative;
        margin-left: 14px;
        img {
            @include size(100%, 100%, none);
        }
        .time {
            @include size(80px, 22px, rgba(0, 0, 0, 0.5));
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0px 0px 6px 0px;
            text-align: center;
            line-height: 22px;
            color: #fff;
        }
    }
    p {
        margin-left: 14px;
        font-size: 14px;
    }
    .t_p1 {
        margin-top: 10px;
    }
    .t_p2 {
        margin-top: 5px;
    }
    //价格
    .price {
        @include size(192px, 40px, none);
        position: relative;
        margin-left: 14px;
        line-height: 40px;
        color: #df0010;
        font-weight: bold;
        .span1 {
            font-size: 22px;
        }
        .span2 {
            color: #999;
            font-weight: normal;
        }
        .span3 {
            @include size(40px, 1px, #999);
            position: absolute;
            top: 24px;
            left: 66px;
        }
    }
    .li_go {
        @include size(192px, 32px, none);
        background: -webkit-linear-gradient(0deg, rgba(247, 60, 41, 1) 0%, rgba(223, 0, 16, 1) 100%);
        margin-left: 14px;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    //手机下单
    .iphone {
        @include size(192px, 34px, #fff);
        margin-top: 10px;
        margin-left: 14px;
        border: 1px solid #DF0010;
        color: #DF0010;
        line-height: 34px;
        text-align: center;
    }
}

//TV标题下面右边
.TV_box_r {
    @include size(870px, 415px, darkcyan);
    @include display(flex, 0, 0, 0);
}

//右左-视频部分
.TV_box_r_l {
    @include size(650px, 415px, none);
}

//右右
.TV_box_r_r {
    @include size(220px, 415px, #fff);
    @include display(flex, space-evenly, column, none);
    //即将播出
    h2 {
        @include size(200px, 22px, #fff);
        margin-left: 14px;
        line-height: 22px;
        font-weight: normal;
        color: #666;
        font-size: 14px;
        span {
            display: inline-block;
            @include size(10px, 10px, red);
        }
    }
    //图片
    .web_pic2 {
        @include size(192px, 192px, none);
        margin-left: 14px;
        position: relative;
        img {
            @include size(100%, 100%, none);
        }
    }
    .time2 {
        @include size(80px, 22px, rgba(0, 0, 0, 0.5));
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0px 0px 6px 0px;
        text-align: center;
        line-height: 22px;
        color: #fff;
    }
    //文字部分
    p {
        margin-left: 14px;
        font-size: 14px;
    }
    .t_p3 {
        margin-top: 10px;
    }
    .t_p4 {
        margin-top: 5px;
    }
    .price {
        @include size(192px, 40px, none);
        position: relative;
        margin-left: 14px;
        line-height: 40px;
        color: #df0010;
        font-weight: bold;
        .span1 {
            font-size: 22px;
        }
        .span2 {
            color: #999;
            font-weight: normal;
        }
        .span3 {
            @include size(40px, 1px, #999);
            position: absolute;
            top: 24px;
            left: 66px;
        }
    }
    .li_go {
        @include size(192px, 32px, none);
        background: -webkit-linear-gradient(0deg, rgba(247, 60, 41, 1) 0%, rgba(223, 0, 16, 1) 100%);
        margin-left: 14px;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    //手机下单
    .iphone {
        @include size(192px, 34px, #fff);
        margin-top: 10px;
        margin-left: 14px;
        border: 1px solid #DF0010;
        color: #DF0010;
        line-height: 34px;
        text-align: center;
    }
}

//左边二维码
// .zuo_ewm {}
//TV节目表
.TV_list {
    @include size(1090px, none, none);
    @include display(flex, none, column, center);
    margin-top: 40px;
}

//商品预告
.sh_list ul {
    @include size(1090px, none, none);
    @include display(flex, space-between, row, none);
    flex-wrap: wrap;
}

.sh_list li {
    position: relative;
}

//页面效果-添加红框
.sh_list li:hover:after {
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0px;
    border: 3px solid #df0010;
}

//ul下面的li样式
.sh_list ul li {
    @include size(262px, 360px, #fff);
    @include display(flex, none, column, none);
    margin-bottom: 15px;
    img {
        @include size(262px, 262px, none);
    }
    p {
        width: 262px;
        margin-top: 9px;
        font-size: 14px;
        padding: 0 10px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    span {
        color: #df0010;
        font-size: 22px;
        padding: 0 10px;
    }
}

//昨日热销
.z_sail {
    @include size(1090px, none, none);
    @include display(flex, space-between, column, none);
}

//新品好物/芒果汽车/食品健康/餐厨烹饪/个护美妆/服饰珠宝/日用家居/家纺套件/数码家电/家居建材
.list_public {
    @include size(1090px, 443px, none);
    margin-top: 26px;
}

//新品好物/芒果汽车/食品健康/餐厨烹饪/个护美妆/服饰珠宝/日用家居/家纺套件/数码家电/家居建材
//渲染样式
.sail_list ul {
    @include display(flex, space-between, row, none);
}

//星期导航栏部分
.week {
    @include size(844px, 46px, #f5f5f5);
    margin-bottom: 9px;
    margin-left: 108px;
}

.week_ul {
    @include size(844px, 46px, none);
    @include display(flex, space-between, row, none);
}

.week_li {
    @include size(120px, 49px, none);
    position: relative;
}

.week_line {
    background-color: #ccc;
    height: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 25px;
    width: 1px;
    z-index: 1;
}

.week_he {
    @include display(flex, center, column, center);
    span {
        font-size: 14px;
    }
}

.today {
    height: 49px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #df0010;
    border-bottom: 2px solid #f5f5f5;
    span {
        color: #c4193f;
    }
}