@charset "utf-8";
@import "header";
@import "footer";
@import "caidan";
.wrap {
    float: left;
    margin-left: 117px;
    position: relative;
}

#spic {
    width: 380px;
    height: 380px;
    border: 1px solid #e5e5e5;
    float: left;
    position: relative;
}

#spic img {
    width: 380px;
    height: 380px;
}

#sf {
    width: 200px;
    height: 200px;
    border: 1px solid #e5e5e5;
    background: #fff;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    cursor: crosshair;
}

#bf {
    width: 380px;
    height: 380px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    position: absolute;
    left: 390px;
    visibility: hidden;
    z-index: 100;
    background: #fff;
}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 800px;
}

#ulist {
    position: absolute;
    left: 0px;
    top: 430px;
    width: 402px;
    height: 56px;
    overflow: hidden;
}

#ulist a {
    width: 14px;
    height: 25px;
    line-height: 56px;
    text-align: center;
    background: #fff;
}

#list {
    float: left;
    margin-left: 18px;
    width: 372px;
    position: relative;
}

#list ul li {
    margin-right: 10px;
    position: relative;
}

//页面效果-添加红框
#list ul li:hover:after {
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0px;
    border: 2px solid #c41f3a;
}

.wrap ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

.wrap ul li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
}

.wrap ul li img {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
}

#right {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #ccc;
    font-size: 22px;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: #fff;
}

//中间部分
.detail_nav {
    width: 1200px;
    height: 57px;
    margin-left: 117px;
    display: flex;
    align-items: center;
    a {
        color: #333333;
        font-size: 14px;
    }
    span {
        color: #666666;
        font-size: 14px;
        padding: 0 8px;
    }
}

.goodsinfo {
    margin: 0px 0 0 100px;
    height: 600px;
}

.goodsinfo-img {
    width: 200px;
    height: 200px;
    float: left;
}

.goodsinfo-img img {
    width: 200px;
    height: 200px;
}

.goodsinfo-word {
    overflow: hidden;
    float: left;
    display: flex;
    flex-direction: column;
}

//右边盒子标题
.p-name {
    width: 520px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    overflow: hidden;
}

.p-name .loadtitle {
    font: 16px "微软雅黑";
    color: #303030;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;
    padding-top: 10px;
    overflow: hidden;
}

.p-price {
    margin-left: 30px;
    margin-top: 10px;
    width: 520px;
    height: 70px;
    line-height: 70px;
    background: #fefafb;
    border-bottom: 1px dashed #f0dde1;
    line-height: 50px;
    span {
        color: #666;
        float: left;
        font-size: 14px;
        min-width: 55px;
        width: 75px;
        padding-left: 10px;
        margin-top: 11px;
    }
    em {
        color: #c41f3a;
        font-size: 18px;
        visibility: middle;
    }
    .loadpcp {
        color: #DF0010;
        font-size: 42px;
        font-weight: normal;
        visibility: middle;
    }
}

//运费
.yunfei {
    width: 520px;
    border-bottom: 1px dashed #f0dde1;
    margin-left: 30px;
    padding: 12px 0;
    .sp1 {
        color: #666;
        float: left;
        font-size: 14px;
        min-width: 55px;
        width: 75px;
        padding-left: 10px;
    }
    .sp2 {
        color: #333333;
        font-size: 14px;
    }
}

//颜色
.color,
.chicun,
.shu {
    width: 520px;
    margin-left: 30px;
    line-height: 33px;
    padding: 10px 0 0 0;
}

.sp3 {
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
}

.sp4 {
    width: 58px;
    height: 32px;
    border: 2px solid #F11D20;
    padding: 7px 15px;
    margin: 15px 0;
    min-width: 24px;
    margin-bottom: 8px;
    position: relative;
    span {
        width: 12px;
        height: 13px;
        display: block;
        background: url(../img/detail_icon_list.png) no-repeat -87px 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

//尺寸
// .chicun{}
//数量
.shu .input {
    width: 128px;
    height: 34px;
    border: 1px solid #c8c8c8;
    display: flex;
    .jian {
        width: 34px;
        border-right: 1px solid #c8c8c8;
        text-align: center;
        line-height: 34px;
        font-weight: bold;
        color: #999999
    }
    .text {
        width: 60px;
        border: none;
        text-align: center;
        line-height: 34px;
        // font-weight: bold;
    }
    .jia {
        width: 34px;
        border-left: 1px solid #c8c8c8;
        text-align: center;
        line-height: 34px;
        font-weight: bold;
        color: #999999
    }
}

.p-btn {
    margin-top: 20px;
    display: flex;
}

.p-btn a {
    display: block;
    width: 140px;
    height: 40px;
    line-height: 36px;
    border: 2px solid #F11D20;
    font-size: 16px;
    text-align: center;
}

.btn_a1 {
    background: #F11D20;
    margin-left: 60px;
    color: white;
}

.btn_a2 {
    margin-left: 15px;
    color: #F11D20;
}

//右图有猫的部分
.right_mao {
    width: 200px;
    height: 211px;
    position: absolute;
    right: -800px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.detail_ewm {
    width: 160px;
    height: 191px;
    background: url(../img/detail_icon_list.png) no-repeat 0 -433px;
}

.bg_ewm {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 20px 0 6px 20px;
    img {
        width: 120px;
        height: 120px;
    }
    .b_ewm_icon {
        height: 69px;
        left: 12px;
        position: absolute;
        top: -64px;
        width: 105px;
        background: url(../img/detail_icon_list.png) no-repeat -173px -433px;
    }
}

.fs_14,
.fs_16 {
    font-size: 13px;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.3em;
}