@charset 'utf-8';
@import "header";
@import "main";
@import "footer";
html,
body {
    margin: 0;
    padding: 0;
    background: #F3F3F3;
}

//弹性盒
.containter {
    display: flex;
    flex-direction: column;
    align-items: center;
}